apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-despliegue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mi-app
  template:
    metadata:
      labels:
        app: mi-app
    spec:
      containers:
      - name: contenedor-mi-app
        image: nginx:latest
        ports:
        - containerPort: 80
